__*

node_modules

.cache
.env
.vercel
.output
.DS_Store
.idea

/build/
/public/build
/api
/api/index.js
/api/index.js.map
/prisma/migrations
/app/data/*.json
/test-results/
/playwright-report/
/playwright/.cache/
/tests-examples/
