@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: #10b981;
    --brand-bg: #292524;
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 24 5.4% 63.9%;
    --radius: 0.25rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 12 6.5% 15.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply selection:bg-emerald-950/80;
    @apply min-h-screen scroll-smooth antialiased transition-colors;

    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-m-20 font-brand tracking-tight;
  }
  h1 {
    @apply text-4xl font-bold sm:text-5xl md:text-5xl;
  }
  h2 {
    @apply text-2xl font-semibold sm:text-3xl;
  }
  h3 {
    @apply text-xl font-semibold sm:text-2xl;
  }
  h4 {
    @apply text-lg font-semibold sm:text-xl;
  }
  h5 {
    @apply text-base font-semibold sm:text-lg;
  }
  h6 {
    @apply text-base font-semibold;
  }
  header {
    @apply space-y-1;
  }
  b {
    @apply font-bold;
  }
  pre,
  code {
    @apply font-mono;
  }
  button {
    @apply select-none;
  }
  p,
  li {
    @apply text-lg leading-snug;
  }
}

@layer components {
  .icon {
    @apply h-6 w-6 lg:h-8 lg:w-8;
  }
}

@layer utilities {
  .hover-opacity {
    @apply transition hover:opacity-80;
  }
}

/* NProgress styles need to be outside of layers because using #id */
#nprogress {
  @apply pointer-events-none z-50;
}
#nprogress .bar {
  @apply fixed left-0 top-0 z-50 h-1 w-full;
  @apply bg-emerald-600 dark:bg-emerald-400;
  @apply border-b-2 border-background;
}
#nprogress .peg {
  @apply absolute right-0 z-50 block h-full w-28 -translate-y-1 translate-x-0 rotate-3 opacity-100;
  @apply shadow-[0_0_15px_#000,0_0_10px_#000] shadow-brand dark:shadow-[0_0_15px_#FFF,0_0_10px_#FFF];
}
#nprogress .spinner {
  @apply fixed right-4 top-4 z-50 block;
}
#nprogress .spinner-icon {
  @apply bg-background;
  @apply z-50 box-border h-6 w-6 animate-spin rounded-full border-4 border-transparent duration-500;
  @apply border-l-emerald-600 border-t-emerald-600 dark:border-l-emerald-300 dark:border-t-emerald-300;
}
.nprogress-custom-parent {
  @apply relative z-50 overflow-hidden;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  @apply absolute z-50;
}
